.page {
  background-color: var(--white);
  color: var(--black);
  min-height: 100vh;
  text-align: center;
  /* display: grid;
  grid-template-rows: auto 1fr auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
