.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
  place-items: center;
  z-index: 9999;
  transition: opacity 0.2s linear;
  display: none;

  body.modal-open & {
    opacity: 1;
    display: grid;
  }

  body[data-transition_open] & {
    display: grid;
  }

  body[data-transition_close] & {
    opacity: 0;
  }
}

.modal__window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 428px;
  min-height: 294px;
  border-radius: var(--radius);
  box-sizing: border-box;
  padding: 30px 40px 33px;
  background-color: var(--white);
}

.modal__title {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin: 0;
  margin-bottom: 14px;
  color: var(--slate-1);
}

.modal__content {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--grey-4);
}

.modal__cross {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  height: 16px;
}
