.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-top: 71px;
  box-sizing: border-box;
}

.footer__title {
  font-family: Inter;
  font-size: 38px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--black);
  margin: 0;
}

.footer__description {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: var(--black);
  margin: 32px 0;
  max-width: 640px;
}
