.page-details {
  display: grid;
  grid:
    'header header header  header header' 82px
    '. sidebar . content .' 1fr
    'footer footer footer footer footer' min(166px)
    / 165px 229px 56px 1fr 165px;
  background-color: var(--grey-1);
}

.page__header {
  background-color: var(--white);
  grid-area: header;
  margin: 0;
}

.page__sidebar {
  grid-area: sidebar;
}

.page__content {
  margin-top: 36px;
  background-color: var(--white);
  grid-area: content;
  border-radius: var(--radius);
  padding: 32px 48px;
}

.page__footer {
  grid-area: footer;
}
