.page__preview {
  background-color: var(--grey-1);
  border-width: 1px 0;
  border-color: var(--grey-2);
  border-style: solid;
  flex-grow: 1;
  padding: 67px 0;
  box-sizing: border-box;
}

.preview__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
